.container {
  margin-top: 3rem;
  font-size: 1.5rem;
  background-color: var(--color-white);
  color: var(--color-dark-gray);
  padding-right: 1rem;
  overflow: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
.container h4 {
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.container h2 {
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  font-size: 16px;
  color: var(--color-primary);
  justify-content: start;
  letter-spacing: 1px;
  gap: 2rem;
}

@media screen and (max-width: 1300px) {
  .container h4 {
    letter-spacing: 4px;
  }
  .container h2 {
    padding: 1.3rem 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .container h4 {
    letter-spacing: 3px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1000px) {
  .container h4 {
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 600px) {
  .container h4 {
    letter-spacing: 4px;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
